<!DOCTYPE html>
<html>
	<head>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-8797559827267652",
				enable_page_level_ads: true
			});
		</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% seo %}
		<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
		<link rel='dns-prefetch' href='//brehehe.github.io' />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css">
  <link rel="stylesheet" href="https://brehehe.github.io/ceden/css/bootstrap4-democssblogexample.css?v=3">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
		<script id="wpcp_disable_selection" type="text/javascript">
//<![CDATA[
			var image_save_msg = 'You Can Not Save images!';
			var no_menu_msg = 'Context Menu disabled!';
			var smessage = "Content is protected !!";

			function disableEnterKey(e)
			{
				if (e.ctrlKey) {
					var key;
					if (window.event)
						key = window.event.keyCode;     //IE
					else
						key = e.which;     //firefox (97)
					//if (key != 17) alert(key);
					if (key == 97 || key == 65 || key == 67 || key == 99 || key == 88 || key == 120 || key == 26 || key == 85 || key == 86 || key == 83 || key == 43)
					{
						show_wpcp_message('You are not allowed to copy content or view source');
						return false;
					} else
						return true;
				}
			}

			function disable_copy(e)
			{
				var elemtype = e.target.nodeName;
				var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
				elemtype = elemtype.toUpperCase();
				var checker_IMG = '';
				if (elemtype == "IMG" && checker_IMG == 'checked' && e.detail >= 2) {
					show_wpcp_message(alertMsg_IMG);
					return false;
				}
				if (elemtype != "TEXT" && elemtype != "TEXTAREA" && elemtype != "INPUT" && elemtype != "PASSWORD" && elemtype != "SELECT" && elemtype != "OPTION" && elemtype != "EMBED")
				{
					if (smessage !== "" && e.detail == 2)
						show_wpcp_message(smessage);

					if (isSafari)
						return true;
					else
						return false;
				}
			}
			function disable_copy_ie()
			{
				var elemtype = window.event.srcElement.nodeName;
				elemtype = elemtype.toUpperCase();
				if (elemtype == "IMG") {
					show_wpcp_message(alertMsg_IMG);
					return false;
				}
				if (elemtype != "TEXT" && elemtype != "TEXTAREA" && elemtype != "INPUT" && elemtype != "PASSWORD" && elemtype != "SELECT" && elemtype != "OPTION" && elemtype != "EMBED")
				{
					//alert(navigator.userAgent.indexOf('MSIE'));
					//if (smessage !== "") show_wpcp_message(smessage);
					return false;
				}
			}
			function reEnable()
			{
				return true;
			}
			document.onkeydown = disableEnterKey;
			document.onselectstart = disable_copy_ie;
			if (navigator.userAgent.indexOf('MSIE') == -1)
			{
				document.onmousedown = disable_copy;
				document.onclick = reEnable;
			}
			function disableSelection(target)
			{
				//For IE This code will work
				if (typeof target.onselectstart != "undefined")
					target.onselectstart = disable_copy_ie;

				//For Firefox This code will work
				else if (typeof target.style.MozUserSelect != "undefined")
				{
					target.style.MozUserSelect = "none";
				}

				//All other  (ie: Opera) This code will work
				else
					target.onmousedown = function () {
						return false
					}
				target.style.cursor = "default";
			}
//Calling the JS function directly just after body load
			window.onload = function () {
				disableSelection(document.body);
			};
//]]>
		</script>
		<script id="wpcp_disable_Right_Click" type="text/javascript">
			//<![CDATA[
			document.ondragstart = function () {
				return false;
			}
			/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
				Disable context menu on images by GreenLava Version 1.0
				^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
			function nocontext(e) {
				return false;
			}
			document.oncontextmenu = nocontext;
			//]]>
		</script>
		<style>#h237{position:fixed !important;position:absolute;top:0;top:expression((t=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop)+"px");left:0;width:102%;height:102%;background-color:#f9f9f9;opacity:.97;display:block;padding:10% 0}#h237 *{text-align:center;margin:0 auto;display:block;filter:none;font:bold 14px Verdana,Arial,sans-serif;text-decoration:none}#h237 ~ *{display:none}</style>
	</head>
	<body>

		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
			<a class="btn btn-success download-title" id="showcount" href="#downloadfile">Wait preparing ready</a>
			<a style="display: none;" class="btn btn-success download-title" id="continuedownload" href="#downloadfile">Continue</a>
		</div>

		<div class="container">
			<header class="blog-header py-3">
				<div class="row flex-nowrap justify-content-between align-items-center">
					<div class="col-4 pt-1"></div>
					<div class="col-4 text-center"><a class="blog-header-logo text-dark" href="#">Article Knowledge</a></div>
					<div class="col-4 d-flex justify-content-end align-items-center"></div>
				</div>
			</header>

			<div class="nav-scroller py-1 mb-2">
				<nav class="nav d-flex justify-content-between">
					<a class="p-2 text-muted" href="#">World</a>
					<a class="p-2 text-muted" href="#">Food</a>
					<a class="p-2 text-muted" href="#">Technology</a>
					<a class="p-2 text-muted" href="#">Design</a>
					<a class="p-2 text-muted" href="#">Culture</a>
					<a class="p-2 text-muted" href="#">Business</a>
					<a class="p-2 text-muted" href="#">Politics</a>
					<a class="p-2 text-muted" href="#">Opinion</a>
					<a class="p-2 text-muted" href="#">Science</a>
					<a class="p-2 text-muted" href="#">Health</a>
					<a class="p-2 text-muted" href="#">Style</a>
					<a class="p-2 text-muted" href="#">Travel</a>
				</nav>
			</div>
		</div>

		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8 blog-main">

					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
										style="display:block; text-align:center;"
										data-ad-layout="in-article"
										data-ad-format="fluid"
										data-ad-client="ca-pub-8797559827267652"
										data-ad-slot="8680364632"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					{{ content }}
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<ins class="adsbygoogle"
										style="display:block; text-align:center;"
										data-ad-layout="in-article"
										data-ad-format="fluid"
										data-ad-client="ca-pub-8797559827267652"
										data-ad-slot="8680364632"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					<a style="display: none;" href="#" class="btn btn-success download-title" id="downloadfile"></a>
				</div><!-- /.blog-main -->

				<aside class="col-md-4 blog-sidebar">
					<div class="p-3 mb-3 bg-light rounded">
						<h4 class="font-italic">About</h4>
						<p class="mb-0">Insurance is the subject matter of solicitation. 
							Visitors are hereby informed that their information submitted on the website may be shared with insurers.</p>
						<p class="mb-0">Read Car Insurance articles here. Get to know the tips, reviews, benefits and  information about Car Insurance.</p>
					</div>

					<div class="p-3">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Banner kotak -->
						<ins class="adsbygoogle"
											style="display:block"
											data-ad-client="ca-pub-8797559827267652"
											data-ad-slot="5650876612"
											data-ad-format="auto"></ins>
						<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>
				</aside><!-- /.blog-sidebar -->

			</div><!-- /.row -->

		</main><!-- /.container -->

		<footer class="blog-footer">
			<p>Article Website information for Insurance, Mortgage, Loans, Credit, Lawyer, Hosting.</p>
			<p>
				<a href="#">Back to top</a>
			</p>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<div id="h237">
			<span>Please Enable JavaScript!<br />Mohon Aktifkan Javascript!<a href="http://www.enable-javascript.com/">[ Enable JavaScript ]</a></span></div>
		<script>window.document.getElementById("h237").parentNode.removeChild(window.document.getElementById("h237"));
			(function (l, m) {
				function n(a) {
					a && h237.nextFunction()
				}
				var h = l.document, p = ["i", "s", "u"];
				n.prototype = {rand: function (a) {
						return Math.floor(Math.random() * a)
					}, getElementBy: function (a, b) {
						return a ? h.getElementById(a) : h.getElementsByTagName(b)
					}, getStyle: function (a) {
						var b = h.defaultView;
						return b && b.getComputedStyle ? b.getComputedStyle(a, null) : a.currentStyle
					}, deferExecution: function (a) {
						setTimeout(a, 250)
					}, insert: function (a, b) {
						var e = h.createElement("span"), d = h.body, c = d.childNodes.length, g = d.style, f = 0, k = 0;
						if ("h237" == b) {
							e.setAttribute("id", b);
							g.margin = g.padding = 0;
							g.height = "100%";
							for (c = this.rand(c); f < c; f++)
								1 == d.childNodes[f].nodeType && (k = Math.max(k, parseFloat(this.getStyle(d.childNodes[f]).zIndex) || 0));
							k && (e.style.zIndex = k + 1);
							c++
						}
						e.innerHTML = a;
						d.insertBefore(e, d.childNodes[c - 1])
					}, displayMessage: function (a) {
						var b = this;
						a = "abisuq".charAt(b.rand(5));
						b.insert("<" + a + '><img src="https://lh3.googleusercontent.com/-1zyvBGHoXLg/Vugs3KGfrKI/AAAAAAAAAD0/IN60lPxm4aQY5Z_sTPmKvzx5vLq5jv62ACCo/s699-Ic42/cara%2Bmembuat%2Bscript%2Bmemasang%2Bscript%2Banti%2Badblock%2Bdi%2Bblog%2Bagar%2Bmenjadi%2Blebih%2Bkeren%2B10.png" height="350" width="699" alt="Stop-AdBlock" /> <a href="JavaScript:window.location.reload()">[ Saya Sudah Disable AdBlock ]</a>' + ("</" + a + ">"), "h237");
						h.addEventListener && b.deferExecution(function () {
							b.getElementBy("h237").addEventListener("DOMNodeRemoved", function () {
								b.displayMessage()
							}, !1)
						})
					}, i: function () {
						for (var a = "DivTopAd,ad-zone-1,ad_190x90,ads-sticky,iqadtile5,leftframeAD,tobsideAd,ad,ads,adsense".split(","), b = a.length, e = "", d = this, c = 0, g = "abisuq".charAt(d.rand(5)); c < b; c++)
							d.getElementBy(a[c]) || (e += "<" + g + ' id="' + a[c] + '"></' + g + ">");
						d.insert(e);
						d.deferExecution(function () {
							for (c = 0; c < b; c++)
								if (null == d.getElementBy(a[c]).offsetParent || "none" == d.getStyle(d.getElementBy(a[c])).display)
									return d.displayMessage("#" + a[c] + "(" + c + ")");
							d.nextFunction()
						})
					}, s: function () {
						var a = {'pagead2.googlesyndic': 'google_ad_client', 'js.adscale.de/getads': 'adscale_slot_id', 'get.mirando.de/miran': 'adPlaceId'}, b = this, e = b.getElementBy(0, "script"), d = e.length - 1, c, g, f, k;
						h.write = null;
						for (h.writeln = null; 0 <= d; --d)
							if (c = e[d].src.substr(7, 20), a[c] !== m) {
								f = h.createElement("script");
								f.type = "text/javascript";
								f.src = e[d].src;
								g = a[c];
								l[g] = m;
								f.onload = f.onreadystatechange = function () {
									k = this;
									l[g] !== m || k.readyState && "loaded" !== k.readyState && "complete" !== k.readyState || (l[g] = f.onload = f.onreadystatechange = null, e[0].parentNode.removeChild(f))
								};
								e[0].parentNode.insertBefore(f, e[0]);
								b.deferExecution(function () {
									if (l[g] === m)
										return b.displayMessage(f.src);
									b.nextFunction()
								});
								return
							}
						b.nextFunction()
					}, u: function () {
						var a = "ad&adv_keywords=,-page-peel/,/adchain.,/adfootright.,/adsxml/ad,/adyard300.,/impopup/ad,/loadadsparam.,/meme_ad.,_adshare.".split(","), b = this, e = b.getElementBy(0, "img"), d, c;
						e[0] !== m && e[0].src !== m && (d = new Image, d.onload = function () {
							c = this;
							c.onload = null;
							c.onerror = function () {
								p = null;
								b.displayMessage(c.src)
							};
							c.src = e[0].src + "#" + a.join("")
						}, d.src = e[0].src);
						b.deferExecution(function () {
							b.nextFunction()
						})
					}, nextFunction: function () {
						var a = p[0];
						a !== m && (p.shift(), this[a]())
					}};
				l.h237 = h237 = new n;
				h.addEventListener ? l.addEventListener("load", n, !1) : l.attachEvent("onload", n)
			})(window);</script>
		<script type="text/javascript">
			var timene = 1;
			var hashpubfile = false;
			var titlefile = false;
			function changeWait() {
				setTimeout(function () {
					if (timene >= 5) {
						$("#showcount").html('Wait ' + timene + ' Sec / 5 sec');
						$.get('https://filepub.xyz/generatefile/' + hashpubfile, function (fdata) {
							$("#showcount").html('Waiting File to be Ready ...');
							setTimeout(function () {
								$("#showcount").hide();
								$("#continuedownload").show();
								$("#downloadfile").show();
								$("#downloadfile").attr('href', fdata);
								$("#downloadfile").html("Continue, Click Here.");
							}, 5000);
						});

					} else {
						// change 
						$("#showcount").html('Wait ' + timene + ' Sec / 5 sec');
						timene++;
						changeWait();
					}
				}, 1000)
			}
			if (window.location.hash) {
				hashpubfile = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
				if (hashpubfile.length) {
					$.get('https://filepub.xyz/preparefile/' + hashpubfile, function (foutget) {
						titlefile = foutget;
					});
					changeWait();
				}
			}
		</script>
	</body>
</html>
